/* Grid variables */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


/* Define the maximum width of `.container` for different screen sizes. */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);


/* Grid columns
 Set the number of columns and specify the width of the gutters. */
$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$grid-row-columns: 6;


// Container padding
$container-padding-x: $grid-gutter-width;

$variable-prefix: bs-; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix;